/* Add these styles to your existing CSS file or create a new one */
.posts-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    
  }
  
  .post-card {
    
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto !important;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px; /* Adjust padding as needed */
    box-sizing: border-box;
    border-radius: 15px;
    background-color: rgba(231, 229, 234, 0.3);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
   /* Adjust the blur value as needed */
   backdrop-filter: blur(20px);
   @media (max-width: 800px) {
    margin-left: none;
  }
  }
  .post-card > .footer-btn {
    width: 101%;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ccc;
    
  }
  
  .post-card > .footer-btn > button {
    border:none;
    background: transparent;
    margin: 2px;
  }
  
  .post-card > .footer-btn > button:hover {
    cursor: pointer;
  }
  .posts-container >.feed-label{
    height:"20px";
    margin-top: 50px; 
    margin-left: -270px;
  }

  .posts-container >.feed-label>.img{
    height:"40px";
     
  }

  #post-img{
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  span{
    margin-top: 0;
  }
  #proPic{
    width: 25px;
    height: 25px;
  }
  .post-username{
    /* position: absolute; */
    margin-top: -48px;
    margin-left: 30px;
    font-size: large;
    font-weight: 500;
   
  }
  
  .post-header{
    border-bottom: 1px solid #ccc;
  }
  .footer{
    display: flex;
    flex-direction: row !important;
    height: auto;
    margin-top: -10px;
    margin-bottom: -5px;
  }
  .post-caption{
    margin-left: 8px;
    margin-top: auto;

    /* height: auto; */
    /* padding: none; */
  }
  .footer-post-username{
    font-weight: 500;
    /* margin-top: -1px; */
    height: auto;
    padding: 0;
  }
  .post-preview-comments{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 40px;
    margin-top:auto;

  }

  .comment{
    /* margin-top: -10px; */
    margin-left: 8px;
    margin-bottom: -10px;
    
  }
  
  .comment-btn{
    margin-top:5px;
    font-weight: 500;
    color: rgb(87, 83, 83);
    margin-bottom:10px;
  }

  .comment-btn:hover{
    cursor: pointer;
  }
  .comment-box{
    height:30px;
    margin-left: -8px;
  }

  img{
    
  }
