body{
  background:
    /* url(https://source.unsplash.com/E8Ufcyxz514/2400x1823) no-repeat  fixed ; */
    url('C://Workspace/projects/api-practice/public/background_image.jpg') no-repeat  fixed ;
    /* background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 45%, #ffffff 99%) ; */
    /* background-color: #A9C9FF; */
/* background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%); */
  

}

.login-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  
}

.post-card-login {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  align-items: center;
  background-color: rgba(231, 229, 234, 0.001);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
   /* Adjust the blur value as needed */
   backdrop-filter: blur(10px);
   /* background: transparent; */
}


.post-card-signup {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: auto;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px; /* Adjust padding as needed */
  box-sizing: border-box;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
}


.login-textbox {
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: center;
}
#text-username {
  height: 30px;
  /* border-radius: 3px; */
  border: none;
  border-bottom: 1px solid transparent;
  color: black;
  margin-bottom: 10px;
  background: transparent;
  transition: border-bottom 0.8s;
}

.login-textbox ::placeholder{
 color: rgb(68, 71, 78);
}


#btn-login {
  height: 30px;
  border-radius: 3px;
  border-color: white;
  border: none;
  background-color: rgb(49, 47, 47);
  color: #ccc;
  width: 86%;
  margin-bottom: 20px;
  margin-top: 10px;
}
button:hover {
  cursor: pointer;
}
.feed-label-login {
  margin-bottom: 30px;
  margin-top: 10px;
}
a:link{
  text-decoration: none;
  color: #0396f6;
}
a:visited{
  text-decoration: none;
  color: #0396f6;
}



#text-username:focus{
  border-bottom: 1px solid rgb(49, 47, 47) ;

}

#signup-btn{
  color: #006fb8;
}

