.results-list {
    width: 100%;
    background-color:"transparent";
    display: flex;
    flex-direction: column;
    box-shadow: none;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: auto;
    margin-left: 3rem;
  }